flask
flask-cors
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
groq
chromadb
sentence-transformers
pypdf
unstructured
markdown
beautifulsoup4
requests
duckduckgo-search
pydantic
werkzeug